<html>
  <head>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="header">Testing environement</header>
    <div class="body grid grid-pad">

        

    </div>
    <footer class="footer">Create By Jean Lapostolle</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
